.container {
  border: 1px solid #000;
  width: 50%;
  margin: 0 auto;
  margin-top: 50px;
}
.tabs {
  border: 1px solid;
  background-color: blue;
}
.tab-list {
  padding-left: 0;
}
.tab-list-item {
  display: inline-block;
  list-style: none;
  margin-bottom: -1px;
  padding: 0.5rem 0.75rem;
}
.tabContents {
  width: 100%;
}
